.idea/
.metals/
.history
.metadata
.project
target/
travis/local.secrets.tar
src/test/repo/
src/test/export/

src/main/resources/VERSION.NFO

src/test/conf/*-dev.conf

# macOS
.DS_Store
**/.DS_Store

src/test/scala/com/thing2x/rptsvr/api/Embedded*Test.scala